body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f3f3f3;
}
marquee {
    margin: 0;
}

/* Sticky Header */
nav.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}nav {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 40px;
}

.team-grid, .skills-container, .testimonial-grid, .certificate-grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card, .testimonial-card, .skill-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #ccc;
}

.bar {
    width: 100%;
    background: #ddd;
    height: 10px;
    margin-top: 5px;
}

.progress {
    height: 10px;
    background: #3498db;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #0d6efd;
    object-fit: cover;

    transition: transform 0.4s ease; /* Smooth animation */
}

.profile-img:hover {
    transform: scale(1.25); /* Zoom effect */
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
     position: sticky;
    bottom: 0;
    z-index: 999;
}

/* home */
.home-profile {
    width: 180px;
    border-radius: 50%;
    border: 4px solid #3498db;
    margin-top: 20px;
}

.quick-info {
    text-align: center;
    padding: 40px;
}

.info-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #ccc;
}

.box h3 {
    margin-top: 0;
}
